n8n-workflows/01-health-monitor-alert.json
{
  "name": "SMSGate - Health Monitor and SMS Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "f1-schedule",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://smsgate:5000/health/modem",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "CHANGE_ME_ADMIN_KEY"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "f1-health",
      "name": "Get Modem Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "f1-cond-status",
              "leftValue": "={{$json[\"status\"]}}",
              "rightValue": "degraded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f1-cond-failures",
              "leftValue": "={{$json[\"consecutive_failures\"]}}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "f1-if",
      "name": "Gateway Degraded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://smsgate:5000/sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "CHANGE_ME_ADMIN_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"+2519XXXXXXXX\",\"message\":\"SMSGate degraded. Check /health/modem now.\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f1-send-alert",
      "name": "Send Alert SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        200
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Modem Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Modem Health": {
      "main": [
        [
          {
            "node": "Gateway Degraded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gateway Degraded?": {
      "main": [
        [
          {
            "node": "Send Alert SMS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
